:root[data-theme="light"] {
  --body-back-colour: #f8f9fa;
  --body-colour: #333;
  --header-colour: #0056b3;
  --a-colour: #ff6600;
  --header-back: #1e3a5f;
  --header-colour: #ffffff;
  --nav-back: #2f5d8c;
  --nav-colour: #ffffff;
  --nav-a-colour: #ffffff;
  --nav-a-back-colour: #24496e;
  --nav-a-hover-back-colour: #18324d;
  --aside-back: #e2e8f0;
  --aside-colour: #020800;
  --footer-back-colour: #1e3a5f;
  --footer-colour: #ffffff;
  --card-back-colour: #ffffff;
  --card-colour: #000000;
  --button-back-colour: #0056b3;
  --button-colour: #ffffff;
  --button-back-colour-hover: #003d82;
  --ldswitch-back-colour: #2e4a6f;
  --ldswitch-back-colour-hover: #4e6a8f;
  --section-back: #ffffff;
}

:root[data-theme="dark"] {
  --body-back-colour: #0f0f0f;
  --body-colour: #111;
  --header-colour: #ffffff;
  --a-colour: #3f3600;
  --header-back: #1f1f1f;
  --header-colour: #ffffff;
  --nav-back: #2f2f2f;
  --nav-colour: #ffffff;
  --nav-a-colour: #ffffff;
  --nav-a-back-colour: #0f0f0f;
  --nav-a-hover-back-colour: #08022d;
  --aside-back: #020800;
  --aside-colour: #e2e8f0;
  --footer-back-colour: #3f3f3f;
  --footer-colour: #ffffff;
  --card-back-colour: #1a1a1a;
  --card-colour: #ffffff;
  --button-back-colour: #101010;
  --button-colour: #ffffff;
  --button-back-colour-hover: #000d22;
  --ldswitch-back-colour: #0e0a2f;
  --ldswitch-back-colour-hover: #0e0a2f;
  --section-back: #ffffff;
}

* {
  box-sizing: border-box;
  transition: background 0.3s ease-in-out;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--body-back-colour);
  color: var(--body-colour);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav aside"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
}

h1, h2, h3 {
  color: var(--header-color);
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  grid-area: header;
  background: var(--header-back);
  color: var(--header-colour);
  padding: 20px;
  text-align: center;
  width: 100%;
}

nav {
  grid-area: nav;
  background: var(--nav-back);
  color: var(--nav-colour);
  padding: 20px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--nav-a-colour);
  padding: 10px;
  background-color: var(--nav-a-back-colour);
  border-radius: 6px;
  text-align: center;
}

nav a:hover {
  background-color: var(--nav-a-hover-back-colour);
}

main {
  grid-area: main;
  padding: 20px;
}

aside {
  grid-area: aside;
  background: var(--aside-back);
  color: var(--aside-colour);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--footer-back-colour);
  color: var(--footer-colour);
  text-align: center;
  padding: 15px;
}

.card {
  background-color: var(--card-back-colour);
  color: var(--card-colour);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

button {
  background-color: var(--button-back-colour);
  color: var(--button-colour)
  border: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-back-colour-hover);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ldswitch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--ldswitch-back-colour);
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.ldswitch:hover {
  background-color: var(--ldswitch-back-colour-hover);
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background: var(--section-back);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    nav {
      text-align: center;
    }

    nav ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    nav a {
      min-width: 100px;
    }
  }
}

@media (max-width: 480px) {
  header hl {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
  }

  main, aside {
    padding: 15px;
  }

  button {
    width: 100%;
  }
}
